[Unit]
Description=Telegram to Filen uploader bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/pcloud-telegram-bot
ExecStart=/home/ubuntu/pcloud-telegram-bot/venv/bin/python bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
